
@{
    ViewBag.Title = "Booking_Report";
}




<style>
    .price::before {
        content: '€'
    }

    .price::after {
        content: '.00';
        font-size: 19px;
    }
</style>
<div class="col-md-100">

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Hotel Category</th>
                <th>Rooms</th>
                <th>Room Type</th>
                <th>Total Price </th>
                <th>Total Price After Discount </th>
                <th>Avaliability </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ggggggg</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>john@example.com</td>

            </tr>

        </tbody>
    </table>



</div>














