
@{
    ViewBag.Title = "Reservation_Results";
}




<style>
    .price::before {
        content: '€'
    }

    .price::after {
        content: '.00';
        font-size: 19px;
    }
</style>
<div class="row" id="searchpage" style="height:500px;">
    <div class="col-md-4">
        <h2 style="font-family:Arial;font-style:italic;color:white;background-color:lightseagreen;border-radius:20px; width:300px; padding:10px; text-align:center;">Reservation_Results</h2>

        <div class="panel panel-default">
            <div class="panel-heading">Search</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="email">Client Name</label>
                    <select data-bind="value: filters.nights" class="form-control">
                        <option></option>
                    </select>


                </div>



            </div>

        </div>



    </div>

    <div class="col-md-8">

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Check In </th>
                    <th>Check Out</th>
                    <th>Hotel Category</th>
                    <th>Floor</th>
                    <th>Room No</th>
                    <th>Room Type</th>
                    <th>Total Price </th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ggggggg</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>john@example.com</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>

            </tbody>
        </table>



    </div>














