
@{
    ViewBag.Title = "Rooms";
}




<style>
    .price::before {
        content: '€'
    }

    .price::after {
        content: '.00';
        font-size: 19px;
    }
</style>
<div class="row" id="searchpage" style="height:500px;">
    <div class="col-md-4">
        <h2 style="font-family:Arial;font-style:italic;color:white;background-color:lightseagreen;border-radius:20px; width:140px; padding:10px; text-align:center;">Rooms</h2>

        <div class="panel panel-default">
            <div class="panel-heading">Adding Rooms</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="email">Hotel category</label>
                    <select data-bind="value: filters.nights" class="form-control">
                        <option></option>
                    </select>


                </div>
                <div class="form-group">
                    <label for="email"> Room No </label>
                    <input type="text" class="form-control" data-bind="value: filters.arrival" placeholder="Enter Room No" />


                    <label for="email"> Floor </label>
                    <select data-bind="value: filters.nights" class="form-control">
                        <option></option>
                    </select>
                    <label for="email"> Room Type </label>
                    <select data-bind="value: filters.nights" class="form-control">
                        <option></option>
                    </select>
                    <label for="email">Day Price</label>
                    <input type="number" class="form-control" data-bind="value: filters.arrival" placeholder="Enter Day price" required />
                </div>


            </div>

        </div>






        <div class="panel panel-default">
            <div class="panel-heading"> Hotel Description</div>
            <div class="panel-body" style="position:relative;">
                <label for="email">Description</label>
                <textarea id="TextArea1" rows="2" cols="20" class="form-control"></textarea>
                <button type="button" style="margin-top: 20px; background-color: lightseagreen; border-radius: 20px; width: 140px; padding: 10px;" class="btn btn-success pull-left align" data-bind="click: $root.reserve">
                    Add
                </button>

            </div>

        </div>









    </div>

    <div class="col-md-8">

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Hotel Category</th>
                    <th>Room No</th>
                    <th>Floor</th>
                    <th>Room Type</th>
                    <th>Discription</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>

            </tbody>
        </table>



    </div>












